<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
	{{> header}}
    <h1>Home Page</h1>
    <p>Vivek Chaudhary</p>
	
	{{> footer}}
	
  </body>
</html>
